# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Database
db.sqlite3
db.sqlite3-journal

# Django logs & local settings
*.log
local_settings.py

# Editor & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini

# Test artifacts
media/products/test_phone*
